.Post {
    width: 50vw;
    background-color: rgb(201, 201, 201);
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    font-size: 1.2vw;
}

.author-post-image {
    width: 10vw;
    height: 20vh;
    margin: 1vw;
    border-radius: 10vw;
}

.like-icon {
    width: 2vw;
    filter: contrast(1%);
}

.like-icon:hover {
    cursor: pointer;
}

.likes-block {
    display: flex;
    flex-direction: row;
}

.likes-count {
    height: .5vh;
}

.liked {
    filter: contrast(100%);
}