.Header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(56, 189, 212);
    padding: .1vw;
    color: white;
    font-size: 1.2vw;
}